{% extends "layout.html" %}

{% block title %}
    Taste the Sounds - Contact Us
{% endblock %}

{% block main %}
    <h1><span id='one' style='color: red'>T</span><span id='two' style='color: orange'>a</span><span id='three' style='color: yellow'>s</span><span id='four' style='color: green'>t</span><span id='five' style='color: blue'>e</span> <span id='six' style='color: indigo'>t</span><span id='seven' style='color: violet'>h</span><span id='eight' style='color: red'>e</span> <span id='nine' style='color: orange'>S</span><span id='ten' style='color: yellow'>o</span><span id='eleven' style='color: green'>u</span><span id='twelve' style='color: blue'>n</span><span id='thirteen' style='color: indigo'>d</span><span id='fourteen' style='color: violet'>s</span></h1>
    <br><br>
    <span>
        Taste the Sounds is a project created by Varinder Singh for CS50. The idea for this project was given to me by a friend of mine. This endeavor  combined multiple technologies 
        learned throughout the course, including Python, Flask, HTML, CSS, JavaScript, and SQL. Throughout the project, many difficulties and challanges were faced and overcome, but there 
        is much more which I would like to add and improve upon. My journey to computer science has just begun, and the future is as bright as ever.
    </span>
{% endblock %}